{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" name="form-pagofacil" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible">
        <i class="fa fa-exclamation-circle"></i>
        {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-pencil"></i>
          {{ text_edit }}</h3>
        

      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-pagofacil1" class="form-horizontal">

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="payment_pagofacil_environment">
                <span data-toggle="tooltip" title="{{ help_test_mode }}"></span>{{ entry_test_mode }}</label>
              <div class="col-sm-5">
                <select class="form-control" name="payment_pagofacil_environment" id="payment_pagofacil_environment">
                  <option value="{{ DEVELOPMENT }}" {{ (payment_pagofacil_environment == DEVELOPMENT) ? 'selected' : '' }}>Desarrollo</option>
                  <option value="{{ PRODUCTION }}" {{ (payment_pagofacil_environment == PRODUCTION) ? 'selected' : '' }}>Producción</option>
                </select>
              </div>
            </div>

          <div class="form-group required">

            <label class="col-sm-2 control-label" for="payment_pagofacil_token_service">
              <span data-toggle="tooltip" title="{{ help_token_service }}"></span>
              {{entry_token_service}}
            </label>
            <div class="col-sm-5">
              <input type="text" value="{{ payment_pagofacil_token_service }}" name="payment_pagofacil_token_service" placeholder="{{ pagofacil_token_service_placeholder }}" id="payment_pagofacil_token_service" class="form-control" style="font-family:monospace;" "></input>
              {% if error_token_service %}
                <div class="text-danger">{{ error_token_service }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">

            <label class="col-sm-2 control-label" for="payment_pagofacil_token_secret">
              <span data-toggle="tooltip" title="{{ help_token_secret }}"></span>
              {{entry_token_secret}}
            </label>
            <div class="col-sm-5">
              <input type="text" name="payment_pagofacil_token_secret" value="{{ payment_pagofacil_token_secret }}" placeholder="{{ pagofacil_token_secret_placeholder }}" id="payment_pagofacil_token_secret" class="form-control" style="font-family:monospace;" ></input>
              {% if error_token_secret %}
                <div class="text-danger">{{ error_token_secret }}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="payment_pagofacil_status">{{ entry_status }}</label>
            <div class="col-sm-5">
              <select name="payment_pagofacil_status" id="payment_pagofacil_status" class="form-control">
                {% if payment_pagofacil_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="payment_pagofacil_opt">
              <span data-toggle="tooltip" title="{{ text_help_payment_options }}"></span>
              {{ text_payment_options }}
            </label>
            <div class="col-sm-5">
              {% if error_payment_options %}
                <div class="text-danger">{{ error_payment_options }}</div>
              {% endif %}
                <div class="loader" style="display: none">Loading...</div>
                <ul class="list-group" id="payment_pagofacil_opt_list">
                  {% if payment_options %}
                    {% for payment_option in payment_options %}
                        <li><img class='pagofacil_opt_logo' src="{{ payment_option.url_imagen }}" alt="{{ payment_option.codigo }}" /><span class='pagofacil_opt_name' >{{ payment_option.nombre }}</span></li>
                        <input id="{{payment_option.setting_key}}" name="{{payment_option.setting_key}}" type="hidden" value="0">
                    {% endfor %}
                  {% endif %}
                </ul>
                <button id="refresh_payment_pagofacil_opt" type="button" class="btn btn-primary">{{ text_update_button }}</button>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}


<style media="screen">
  .no-border {}

  H3.menu-head {
    background-color: #d6012f;
    color: #ffffff;
  }

  .invisible {
    visibility: hidden;
  }

  .modal-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th,
  .table-borderless > tfoot > tr > td,
  .table-borderless > tfoot > tr > th,
  .table-borderless > thead > tr > td,
  .table-borderless > thead > tr > th {
    border: none;
  }
  .pagofacil_opt_logo {
    width: 50px;
    height: 50px;
  }
  .pagofacil_opt_name {
    padding-left: 10px;
  }
  #payment_pagofacil_opt_list li {
     list-style-type: none;
  }

</style>

<!--spinner-->
<style>
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 5px 5px;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #c4baba;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>


<!-- Script para limpiar parametros -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js" charset="utf-8"></script>


<!-- Script para actualizar metodos de pago -->
<script>
$(function(){
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    $("#refresh_payment_pagofacil_opt").click(function() {
      var token_service = $("input[name='payment_pagofacil_token_service']").val();
      var environment = $("#payment_pagofacil_environment").children("option:selected").val();
      var user_token = getUrlParameter('user_token');
      $('.loader').show();
      $("#payment_pagofacil_opt_list").empty();
      $.get( "/admin/index.php?route=extension/payment/pagofacil/payment_methods", {
              user_token: user_token, 
              token_service: token_service, 
              environment: environment
              } 
        ).done(function( data ) {
          for (var i = 0; i < data.length; i++) {
            $("#payment_pagofacil_opt_list").append("<li><img class='pagofacil_opt_logo' src=\""+ data[i]["url_imagen"]  +"\" alt=\""+ data[i]["codigo"] +"\" /><span class='pagofacil_opt_name' >"+ data[i]["nombre"]  +"</span></li>")
            var setting_key = data[i]["setting_key"]; 
            $("#payment_pagofacil_opt_list").append("<input id='"+ setting_key +"' name='"+ setting_key +"' type='hidden' value='0'>");
          }          
        }).fail(function(err) {
          console.log(err);
          $("#payment_pagofacil_opt_list").append("<li>{{ error_update_payment_options }}</li>")
        }).always(function() {
            $('.loader').hide();
        });
      });
      
    });

</script>
